*.iml
.gradle
/.idea/
/.kotlin/
/_dict_tmp/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.tmp_compare/
.tmp_hoshi_reader/
.tmp_shz/
classes-shizuku-provider.jar
/keystore/

# Local temporary/work directories
/.codex_tmp/
/third_party/
/release/

# Android signature sidecar generated alongside APK
/release/*.idsig
