span[data-sc-class="mjrhsjcd-entry"],
div[data-sc-class="mjrhsjcd-entry"] {
  margin-left: 1.0em;
}

span[data-sc-class="head"],
div[data-sc-class="head"] {
  font-size: 1.0em;
  margin-left: -1.0em;
}

span[data-sc-class="word"],
div[data-sc-class="word"] {
  font-weight: bold;
  font-size: 1.3em;
}

span[data-sc-class="phrase"],
div[data-sc-class="phrase"] {
  font-weight: bold;
  font-size: 1.3em;
}

span[data-sc-class="type"],
div[data-sc-class="type"] {
  color: OrangeRed;
  font-size: 1.0em;
  font-weight: bold;
}

span[data-sc-class="def0"],
div[data-sc-class="def0"] {
  font-size: 1.0em;
  margin-left: -1.0em;
}

span[data-sc-class="def1"],
div[data-sc-class="def1"] {
  font-size: 1.0em;
}

span[data-sc-class="def2"],
div[data-sc-class="def2"] {
  font-size: 1.0em;
  padding-left: 0.0em;
}

span[data-sc-class="def2_first"],
div[data-sc-class="def2_first"] {
  font-size: 1.0em;
  padding-left: 0.0em;
  margin-left: -1.0em;
}

span[data-sc-class="dfcn"],
div[data-sc-class="dfcn"] {
  color: DodgerBlue;
}

span[data-sc-class="exam"],
div[data-sc-class="exam"] {
  padding-left: 0em;
}

span[data-sc-class="exjp"],
div[data-sc-class="exjp"] {
  color: darkgreen;
}

span[data-sc-class="excn"],
div[data-sc-class="excn"] {
  color: LimeGreen;
}

span[data-sc-class="sanjiao"],
div[data-sc-class="sanjiao"] {
  color: Indigo;
  background-color: Yellow;
  font-size: 1.0em;
  font-weight: bold;
  margin-right: 0.2em;
}

span[data-sc-class="canzhao"],
div[data-sc-class="canzhao"] {
  color: Indigo;
  font-size: 1.0em;
  background-color: Yellow;
  font-weight: bold;
  margin-right: 0.2em;
}

span[data-sc-class="fanyi"],
div[data-sc-class="fanyi"] {
  color: Indigo;
  font-size: 1.0em;
  background-color: Yellow;
  font-weight: bold;
  margin-right: 0.2em;
}

span[data-sc-class="lingxing"],
div[data-sc-class="lingxing"] {
  font-weight: bold;
  font-size: 1.3em;
  margin-right: 0.2em;
}

span[data-sc-class="square"],
div[data-sc-class="square"] {
  color: DarkTurquoise;
  font-weight: bold;
  font-size: 1.3em;
  margin-right: 0.2em;
}

span[data-sc-class="biaoxian"],
div[data-sc-class="biaoxian"] {
  color: Indigo;
  font-size: 0.9em;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.33em;
  margin-right: 0.2em;
}

span[data-sc-class="biaoji"],
div[data-sc-class="biaoji"] {
  color: Yellow;
  font-size: 0.9em;
  background-color: Indigo;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-color: Indigo;
  border-radius: 0.33em;
  margin-right: 0.2em;
}

span[data-sc-class="jiu"],
div[data-sc-class="jiu"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.33em;
  font-size: 0.9em;
  margin-right: 0.2em;
}

span[data-sc-class="paisheng"],
div[data-sc-class="paisheng"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.33em;
  font-size: 0.9em;
  margin-right: 0.2em;
}

span[data-sc-class="keneng"],
div[data-sc-class="keneng"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.33em;
  font-size: 0.9em;
  margin-right: 0.2em;
}

span[data-sc-class="yixing"],
div[data-sc-class="yixing"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.33em;
  font-size: 0.9em;
  margin-right: 0.2em;
}

span[data-sc-class="wen"],
div[data-sc-class="wen"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.33em;
  font-size: 0.9em;
  margin-right: 0.2em;
}

span[data-sc-class="ming"],
div[data-sc-class="ming"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.33em;
  font-size: 0.9em;
  margin-right: 0.2em;
}

span[data-sc-class="zhuyi"],
div[data-sc-class="zhuyi"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.33em;
  font-size: 0.9em;
  margin-right: 0.2em;
}

span[data-sc-class="dong"],
div[data-sc-class="dong"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.33em;
  font-size: 0.9em;
  margin-right: 0.2em;
}

span[data-sc-class="shu"],
div[data-sc-class="shu"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.33em;
  font-size: 0.9em;
  margin-right: 0.2em;
}

span[data-sc-class="yufa"],
div[data-sc-class="yufa"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.33em;
  font-size: 0.9em;
  margin-right: 0.2em;
}

span[data-sc-class="yuyuan"],
div[data-sc-class="yuyuan"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.33em;
  font-size: 0.9em;
  margin-right: 0.2em;
}

span[data-sc-class="num"],
div[data-sc-class="num"] {
  color: DarkRed;
  font-weight: bold;
  margin-left: -1.0em;
}

span[data-sc-class="num_circle"],
div[data-sc-class="num_circle"] {
  color: DarkRed;
  font-weight: bold;
  border-width: 0.15em;
  border-style: solid;
  border-color: DarkRed;
  border-radius: 50%;
  font-size: 0.75rem;
  text-align: center;
  vertical-align: middle;
  margin-left: -1.0em;
}

span[data-sc-class="kakikata"],
div[data-sc-class="kakikata"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-color: Indigo;
  border-radius: 0.33em;
  font-size: 0.9em;
}

span[data-sc-class="tsukaikata"],
div[data-sc-class="tsukaikata"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-color: Indigo;
  border-radius: 0.33em;
  font-size: 0.9em;
}

span[data-sc-class="yomiwake"],
div[data-sc-class="yomiwake"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-color: Indigo;
  border-radius: 0.33em;
  font-size: 0.9em;
}

span[data-sc-class="kakiwake"],
div[data-sc-class="kakiwake"] {
  color: Indigo;
  background-color: Yellow;
  font-weight: bold;
  border-width: 0.1em;
  border-style: solid;
  border-color: Indigo;
  border-radius: 0.33em;
  font-size: 0.9em;
}
